/* NOC CSS */

h2 {
    color: #828081;
    font-family: 'LeagueGothicRegular';
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
}
.table_box {
    border: 1px solid #CCCCCC;
    color: #4B4B4D;
    padding: 10px 20px;
	margin-bottom: 20px;	
}
table{ margin-bottom:20px; }
*{font-family: Verdana, Geneva, sans-serif;}
td{ font-size:11px;padding: 10px 5px;}

table.tablesorter td.title_border {
    background-color: #ccc;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 10px;
    height: 3px;
    line-height: 3px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
