
{% extends "base.html" %}
{% block content %}

<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>

<p><span class="glyphicons glyphicons-inbox-in"></span><p>
	
<div  ng-app="myApp" ng-controller="customersCtrl">
<p> Filter: <input type="text" ng-model="Name"></p> <P>Last update: {{ updatedate }}</p>
<li><font color="red"><a href='https://activenetwork.service-now.com/textsearch.do?sysparm_no_redirect=false&sysparm_search='>Search</a></font></li>

<table class="table table-bordered" style="font-size:10" >
   <thead>
<tr>
                        <th> number
                                <button type="button" class="btn btn-default" ng-click="f='number'; rev=!rev ">
                                         <span  class="glyphicon glyphicon-sort"></span>
                                </button></th>
                        <th> state
                                <button type="button" class="btn btn-default" ng-click="f='state'; rev=!rev" >
                                         <span  class="glyphicon glyphicon-sort"></span>
                                </button></th>
                        <th> start_date
                                <button type="button" class="btn btn-default" ng-click="f='start_date'; rev=!rev">
                                         <span  class="glyphicon glyphicon-sort"></span>
                                </button></th>
                        <th> short_description
                                <button type="button" class="btn btn-default" ng-click="f='short_description'; rev=!rev">
                                         <span  class="glyphicon glyphicon-sort"></span>
                                </button></th>
						<th> type
                                <button type="button" class="btn btn-default" ng-click="f='type'; rev=!rev">
                                         <span  class="glyphicon glyphicon-sort"></span>
                                </button></th>
						<th> approval
                                <button type="button" class="btn btn-default" ng-click="f='approval'; rev=!rev">
                                         <span  class="glyphicon glyphicon-sort"></span>
                                </button></th>
						<th> cab_date
                                <button type="button" class="btn btn-default" ng-click="f='cab_date'; rev=!rev">
                                         <span  class="glyphicon glyphicon-sort"></span>
                                </button></th>
						<th> assigned_to		
                                <button type="button" class="btn btn-default" ng-click="f='assigned_to'; rev=!rev">
                                         <span  class="glyphicon glyphicon-sort"></span>
                                </button></th>
						
</tr>
   </thead>

   
<tbody >
  <tr ng-repeat="x in names| filter:Name| orderBy: f : rev"> 
        <td  class="charge_table_td" style="padding-right:5px;"><% x.number %></td>
        <td  class="charge_table_td" style="padding-right:5px;"><% x.state %></td>
        <td  class="charge_table_td" style="padding-right:5px;"><% x.start_date %></td>
		<td  class="charge_table_td" style="padding-right:5px;"><% x.short_description %></td>
		<td  class="charge_table_td" style="padding-right:5px;"><% x.type %></td>
		<td  class="charge_table_td" style="padding-right:5px;"><% x.approval %></td>			
		<td  class="charge_table_td" style="padding-right:5px;"><% x.cab_date %></td>	
        <td  class="charge_table_td" style="padding-right:5px;"><% x.assigned_to %></td>
		<%x%>
  </tr>

</tbody>

</table>
</div> 
 
 
 
 
<script>
var myApp = angular.module('myApp', []);


// App config
myApp.config(function($interpolateProvider) {
	$interpolateProvider.startSymbol('<%');
	$interpolateProvider.endSymbol('%>');
	});
myApp.controller('customersCtrl', function($scope, $http) {
   $http.get("/change_list_data")

   .success(function (response)
        {$scope.names = response.records;});
});
</script>

{% endblock %}


